<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<h1>Buttons</h1>
<div spe-btn-group #group="speBtnGroup">
  <button class="btn" spe-btn tabindex="5">First</button>
  <button class="btn" spe-btn tabindex="2">Second</button>
  <button class="btn" spe-btn tabindex="4">Third</button>
  <input type="text" class="btn" spe-btn tabindex="3">
  <a class="btn" spe-btn tabindex="1">Forth</a>
</div>

<button (click)="group.enable()">Enable</button>
<button (click)="group.disable()">Disable</button>
<button (click)="group.checkAll()">Check all</button>
<button (click)="group.uncheckAll()">Uncheck all</button>

